.cards{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:20px;

}

.card{

    background:white;

    border-radius:18px;

    padding:25px;

    box-shadow:var(--shadow);

}

.card h4{

    color:#777;

    margin-bottom:15px;

}

.card h2{

    color:#E91E63;

    font-size:32px;

}

@media(max-width:1200px){

.cards{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.cards{

grid-template-columns:1fr;

}

}