.sidebar{

    width:260px;

    background:linear-gradient(

        180deg,

        #E91E63,

        #AD1457

    );

    color:white;

    min-height:100vh;

    padding:25px;

}

.logo{

    text-align:center;

    margin-bottom:40px;

}

.logo img{

    width:90px;

    margin-bottom:10px;

}

.menu{

    list-style:none;

}

.menu li{

    padding:15px;

    margin-bottom:10px;

    border-radius:12px;

    cursor:pointer;

    transition:.3s;

}

.menu li:hover{

    background:rgba(255,255,255,.15);

}

.menu .active{

    background:white;

    color:#E91E63;

}