/* ==========================================
   Executive Budget Dashboard
   style.css
========================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{

    --primary:#E91E63;
    --primary-dark:#C2185B;
    --primary-light:#FCE4EC;

    --white:#ffffff;

    --background:#F6F7FB;

    --border:#E4E7EC;

    --text:#333333;

    --shadow:0 10px 25px rgba(0,0,0,.08);

    --radius:18px;

}

body{

    font-family:
    "Segoe UI",
    Tahoma,
    sans-serif;

    background:var(--background);

    color:var(--text);

}

h1,h2,h3,h4{

    font-weight:600;

}

select{

    height:42px;

    border:1px solid #ddd;

    border-radius:10px;

    padding:0 12px;

    background:white;

}

table{

    width:100%;

    border-collapse:collapse;

}

th{

    background:var(--primary);

    color:white;

}

th,td{

    padding:12px;

    border-bottom:1px solid #eee;

}

tr:hover{

    background:#fafafa;

}