.table-card{

    background:#fff;

    border-radius:18px;

    box-shadow:var(--shadow);

    padding:20px;

    margin-top:25px;

    overflow:auto;

}

.table-card table{

    width:100%;

    border-collapse:collapse;

    min-width:1200px;

}

.table-card thead{

    position:sticky;

    top:0;

    z-index:5;

}

.table-card th{

    background:#E91E63;

    color:white;

    padding:14px;

    font-size:15px;

}

.table-card td{

    padding:12px;

    border-bottom:1px solid #eee;

    font-size:14px;

}

.table-card tbody tr:hover{

    background:#FCE4EC;

}